In [19]:
import pandas as pd

In [20]:
one_cluster = pd.read_csv(
    r"../../data/cluster_results/one_cluster_result.csv", index_col=0)
one_cluster.head()

,Tick,Cluster,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
0,CSCO,0,-0.897344,-0.951685,-0.331614,0.589535,-0.108935,0.433686,0.178569,-0.389928,...,0.272525,0.813892,0.716849,-0.624558,-0.792077,0.054434,0.449964,0.089078,0.017788,-0.621446
1,ISRG,0,-1.000226,-1.608707,-0.689722,-0.217649,0.832386,-1.902180,0.512597,-1.943607,...,0.596374,-0.535328,0.532541,-0.756822,0.520968,0.999440,0.573973,0.083171,1.823959,2.057369
2,LBTYK,0,-0.820684,-4.690083,-0.021682,-0.777539,-0.602286,-0.325030,0.108388,-0.021511,...,0.376973,1.360543,0.739997,-0.536732,0.302827,-0.301710,-1.276456,-2.312140,-0.381549,0.069398
3,VRTX,0,2.583978,-1.014147,-3.256118,1.548564,1.614755,-1.244445,-3.820831,0.166110,...,-0.931505,1.840056,-0.268832,0.835401,-1.740108,0.801003,-0.513456,-1.871033,0.447043,1.648986
4,GILD,0,-0.241745,1.627471,-0.832741,0.171187,1.488095,-1.265454,-1.584984,-4.555719,...,-2.370368,1.363639,-0.074732,-0.149051,0.178777,0.639501,-0.353094,-1.751034,0.959519,-1.547806

In [54]:
one_cluster.shape

(95, 1722)

In [3]:
one_cluster_std = one_cluster.groupby("Cluster").std()
one_cluster_std

,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
Cluster,,,,,,,,,,,,,,,,,,,,,
0,0.979989,1.447141,1.342208,1.369351,1.353396,1.057074,1.116614,1.203316,1.197602,1.324306,...,1.376667,1.224597,1.010528,1.367125,1.168944,1.229184,1.319741,1.788179,1.50799,1.695195

In [4]:
one_cluster_std.mean(axis=1)

Cluster
0    1.364862
dtype: float64

In [5]:
one_cluster_std.median(axis=1)

Cluster
0    1.286918
dtype: float64

In [6]:
one_cluster_std.std(axis=1)

Cluster
0    0.438056
dtype: float64

---

In [7]:
sector_cluster = pd.read_csv(
    r"../../data/cluster_results/sector_cluster_result.csv", index_col=0)
sector_cluster.head()

,Tick,Cluster,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
0,CSCO,Technology Services,-0.897344,-0.951685,-0.331614,0.589535,-0.108935,0.433686,0.178569,-0.389928,...,0.272525,0.813892,0.716849,-0.624558,-0.792077,0.054434,0.449964,0.089078,0.017788,-0.621446
1,ISRG,Health Technology,-1.000226,-1.608707,-0.689722,-0.217649,0.832386,-1.902180,0.512597,-1.943607,...,0.596374,-0.535328,0.532541,-0.756822,0.520968,0.999440,0.573973,0.083171,1.823959,2.057369
2,LBTYK,Consumer Services,-0.820684,-4.690083,-0.021682,-0.777539,-0.602286,-0.325030,0.108388,-0.021511,...,0.376973,1.360543,0.739997,-0.536732,0.302827,-0.301710,-1.276456,-2.312140,-0.381549,0.069398
3,VRTX,Health Technology,2.583978,-1.014147,-3.256118,1.548564,1.614755,-1.244445,-3.820831,0.166110,...,-0.931505,1.840056,-0.268832,0.835401,-1.740108,0.801003,-0.513456,-1.871033,0.447043,1.648986
4,GILD,Health Technology,-0.241745,1.627471,-0.832741,0.171187,1.488095,-1.265454,-1.584984,-4.555719,...,-2.370368,1.363639,-0.074732,-0.149051,0.178777,0.639501,-0.353094,-1.751034,0.959519,-1.547806

In [8]:
sector_cluster_count = sector_cluster["Cluster"].value_counts()
sector_cluster_count

Technology Services      26
Electronic Technology    16
Health Technology        13
Consumer Services        13
Retail Trade              9
Name: Cluster, dtype: int64

In [9]:
sector_cluster_std = sector_cluster.groupby("Cluster").std()
sector_cluster_std

,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
Cluster,,,,,,,,,,,,,,,,,,,,,
Consumer Services,0.736959,1.682611,1.026944,1.057144,1.456776,0.864909,1.232321,0.713693,1.002369,1.548171,...,1.099998,1.161479,1.629322,1.353576,1.855147,0.729969,0.945382,1.646943,1.226949,1.969062
Electronic Technology,0.610416,0.676956,1.045866,1.120904,1.082826,0.835551,0.979650,0.924184,1.187716,1.372846,...,1.085886,0.726742,0.900915,0.750657,0.542441,0.948417,1.702221,1.363583,1.594504,1.714514
Health Technology,1.212429,1.566763,1.629555,1.272492,2.065304,1.268538,1.570283,2.199544,1.543497,1.035362,...,1.538749,0.941139,0.948012,1.220366,0.898063,1.019281,0.931789,1.467598,2.621826,2.431075
Retail Trade,1.265919,1.235097,0.993877,0.956597,0.534661,0.787503,1.212143,1.087492,0.684438,0.959084,...,1.333780,2.493741,1.053888,1.142405,0.987316,1.019240,1.379093,1.510397,1.620100,1.810681
Technology Services,0.862344,0.929810,1.172592,1.114428,0.951564,1.081407,0.776753,0.967059,0.895070,1.275612,...,1.162411,0.875243,0.620811,0.878774,1.344972,0.931509,1.306086,2.616288,1.189757,1.427389

In [10]:
sector_cluster_std.mean(axis=1)

Cluster
Consumer Services        1.256098
Electronic Technology    1.258144
Health Technology        1.408462
Retail Trade             1.264616
Technology Services      1.161217
dtype: float64

In [11]:
sector_cluster_std.median(axis=1)

Cluster
Consumer Services        1.149733
Electronic Technology    1.134245
Health Technology        1.271442
Retail Trade             1.134745
Technology Services      1.077139
dtype: float64

In [12]:
sector_cluster_std.std(axis=1)

Cluster
Consumer Services        0.580862
Electronic Technology    0.555810
Health Technology        0.669907
Retail Trade             0.644201
Technology Services      0.448065
dtype: float64

---

In [13]:
kmeans_cluster = pd.read_csv(
    r"../../data/cluster_results/kmeans_cluster_result.csv", index_col=0)
kmeans_cluster.head()

,Tick,Cluster,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
0,CSCO,7,-0.897344,-0.951685,-0.331614,0.589535,-0.108935,0.433686,0.178569,-0.389928,...,0.272525,0.813892,0.716849,-0.624558,-0.792077,0.054434,0.449964,0.089078,0.017788,-0.621446
1,ISRG,4,-1.000226,-1.608707,-0.689722,-0.217649,0.832386,-1.902180,0.512597,-1.943607,...,0.596374,-0.535328,0.532541,-0.756822,0.520968,0.999440,0.573973,0.083171,1.823959,2.057369
3,VRTX,3,2.583978,-1.014147,-3.256118,1.548564,1.614755,-1.244445,-3.820831,0.166110,...,-0.931505,1.840056,-0.268832,0.835401,-1.740108,0.801003,-0.513456,-1.871033,0.447043,1.648986
4,GILD,3,-0.241745,1.627471,-0.832741,0.171187,1.488095,-1.265454,-1.584984,-4.555719,...,-2.370368,1.363639,-0.074732,-0.149051,0.178777,0.639501,-0.353094,-1.751034,0.959519,-1.547806
5,SWKS,13,-0.380433,-1.326951,-3.282542,-0.685599,3.055551,-0.883056,-2.467973,-1.567573,...,1.223873,1.559610,0.540212,1.193940,-1.090216,-0.421999,-1.669455,1.109210,1.773724,-0.310163

In [14]:
kmeans_cluster_count = kmeans_cluster["Cluster"].value_counts()
kmeans_cluster_count

7     29
4     20
13    13
1     10
3      9
Name: Cluster, dtype: int64

In [22]:
kmeans_cluster_std = kmeans_cluster.groupby("Cluster").std()
kmeans_cluster_std

,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
Cluster,,,,,,,,,,,,,,,,,,,,,
1,1.161787,0.956649,1.389650,1.069923,0.895970,0.790199,0.982276,0.921915,0.954919,0.874438,...,1.280788,1.183881,0.748385,1.207074,1.375373,1.367887,1.914292,2.280200,0.883039,1.807130
3,1.041131,1.443287,1.393129,1.291740,1.607791,1.102311,1.762342,2.361699,1.365831,1.129592,...,1.131078,0.815388,0.929415,0.923831,0.891980,1.164599,1.095497,0.873406,2.472532,1.709932
4,0.593843,1.379545,1.161952,1.142533,1.166141,0.968344,0.888383,1.333097,1.457152,1.368420,...,1.127007,0.745818,0.836419,1.331652,1.584162,0.858538,1.193494,1.752658,1.551235,2.214570
7,0.907415,1.068822,1.071279,1.407280,0.986576,0.893281,0.891982,0.826240,0.908031,1.182566,...,1.205008,0.915614,1.073682,1.126208,0.544010,0.773151,0.924044,1.787785,1.210980,0.941850
13,0.401847,0.654881,0.860764,0.866090,1.023745,0.910240,0.875454,0.616396,1.202500,1.249113,...,0.840731,0.664478,0.669205,0.750354,0.734299,0.841868,1.464640,1.459085,1.558715,1.529526

In [36]:
kmeans_cluster_std.mean(axis=1)

Cluster
1     1.179256
3     1.315746
4     1.245143
7     1.049676
13    0.980154
dtype: float64

In [35]:
kmeans_cluster_std.median(axis=1)

Cluster
1     1.090545
3     1.171500
4     1.135116
7     0.955586
13    0.883396
dtype: float64

In [34]:
kmeans_cluster_std.std(axis=1)

Cluster
1     0.517646
3     0.711118
4     0.494377
7     0.447548
13    0.492371
dtype: float64

---

In [27]:
spectral_cluster = pd.read_csv(
    r"../../data/cluster_results/spectral_cluster_result.csv", index_col=0)
spectral_cluster.head()

,Tick,Cluster,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
0,CSCO,5,-0.897344,-0.951685,-0.331614,0.589535,-0.108935,0.433686,0.178569,-0.389928,...,0.272525,0.813892,0.716849,-0.624558,-0.792077,0.054434,0.449964,0.089078,0.017788,-0.621446
1,ISRG,3,-1.000226,-1.608707,-0.689722,-0.217649,0.832386,-1.902180,0.512597,-1.943607,...,0.596374,-0.535328,0.532541,-0.756822,0.520968,0.999440,0.573973,0.083171,1.823959,2.057369
2,LBTYK,3,-0.820684,-4.690083,-0.021682,-0.777539,-0.602286,-0.325030,0.108388,-0.021511,...,0.376973,1.360543,0.739997,-0.536732,0.302827,-0.301710,-1.276456,-2.312140,-0.381549,0.069398
3,VRTX,1,2.583978,-1.014147,-3.256118,1.548564,1.614755,-1.244445,-3.820831,0.166110,...,-0.931505,1.840056,-0.268832,0.835401,-1.740108,0.801003,-0.513456,-1.871033,0.447043,1.648986
4,GILD,1,-0.241745,1.627471,-0.832741,0.171187,1.488095,-1.265454,-1.584984,-4.555719,...,-2.370368,1.363639,-0.074732,-0.149051,0.178777,0.639501,-0.353094,-1.751034,0.959519,-1.547806

In [28]:
spectral_cluster_count = spectral_cluster["Cluster"].value_counts()
spectral_cluster_count

3    29
1    18
5    15
7    15
Name: Cluster, dtype: int64

In [29]:
spectral_cluster_std = spectral_cluster.groupby("Cluster").std()
spectral_cluster_std

,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
Cluster,,,,,,,,,,,,,,,,,,,,,
1,1.285655,1.717523,1.601695,1.323821,1.402557,1.034186,1.310253,1.350994,1.334266,0.941289,...,1.647850,2.001248,1.207577,1.162913,0.888700,0.848353,1.770164,1.832948,1.894263,2.007040
3,0.982672,1.419749,1.138836,1.471986,1.174425,1.012019,1.030572,1.003180,1.098143,1.269410,...,1.159181,1.198758,1.130619,1.338048,0.871582,1.103332,0.972117,1.866695,1.139360,1.184431
5,0.747086,1.015575,1.420242,0.914312,1.207536,1.043725,0.905251,1.116377,1.135668,1.449298,...,1.283694,0.703735,0.708560,1.242623,2.201201,1.126747,1.460669,1.660297,1.651569,2.081105
7,1.076619,1.796472,1.539679,1.457079,1.841605,1.577379,1.014520,1.379079,1.359769,1.726972,...,1.444388,1.052556,0.920891,1.735096,0.714132,2.113434,1.106499,0.885407,1.630776,2.110003

In [31]:
spectral_cluster_std.mean(axis=1)

Cluster
1    1.385608
3    1.242326
5    1.437923
7    1.506975
dtype: float64

In [32]:
spectral_cluster_std.median(axis=1)

Cluster
1    1.278093
3    1.145077
5    1.312373
7    1.372536
dtype: float64

In [33]:
spectral_cluster_std.std(axis=1)

Cluster
1    0.591194
3    0.464017
5    0.591552
7    0.617140
dtype: float64

---

In [38]:
gm_cluster = pd.read_csv(
    r"../../data/cluster_results/gm_cluster_result.csv", index_col=0)
gm_cluster.head()

,Tick,Cluster,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
0,CSCO,9,-0.897344,-0.951685,-0.331614,0.589535,-0.108935,0.433686,0.178569,-0.389928,...,0.272525,0.813892,0.716849,-0.624558,-0.792077,0.054434,0.449964,0.089078,0.017788,-0.621446
1,ISRG,3,-1.000226,-1.608707,-0.689722,-0.217649,0.832386,-1.902180,0.512597,-1.943607,...,0.596374,-0.535328,0.532541,-0.756822,0.520968,0.999440,0.573973,0.083171,1.823959,2.057369
3,VRTX,3,2.583978,-1.014147,-3.256118,1.548564,1.614755,-1.244445,-3.820831,0.166110,...,-0.931505,1.840056,-0.268832,0.835401,-1.740108,0.801003,-0.513456,-1.871033,0.447043,1.648986
4,GILD,9,-0.241745,1.627471,-0.832741,0.171187,1.488095,-1.265454,-1.584984,-4.555719,...,-2.370368,1.363639,-0.074732,-0.149051,0.178777,0.639501,-0.353094,-1.751034,0.959519,-1.547806
5,SWKS,8,-0.380433,-1.326951,-3.282542,-0.685599,3.055551,-0.883056,-2.467973,-1.567573,...,1.223873,1.559610,0.540212,1.193940,-1.090216,-0.421999,-1.669455,1.109210,1.773724,-0.310163

In [39]:
gm_cluster_count = gm_cluster["Cluster"].value_counts()
gm_cluster_count

9     35
3     24
8     13
11    11
Name: Cluster, dtype: int64

In [40]:
gm_cluster_std = gm_cluster.groupby("Cluster").std()
gm_cluster_std

,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
Cluster,,,,,,,,,,,,,,,,,,,,,
3,1.286301,1.607361,1.278897,1.656400,1.519124,0.948191,1.320896,1.301804,1.312182,1.013101,...,1.407014,1.321359,1.165977,1.326660,1.698705,1.819553,1.408145,2.083878,1.757529,1.943000
8,0.528073,0.507443,0.878940,0.917048,1.013401,0.984046,0.851719,0.710926,1.283296,1.529284,...,0.870029,0.716895,1.120192,0.727902,0.678766,0.935267,1.469484,1.484168,1.643725,1.773557
9,0.849815,1.087957,1.214648,1.256892,0.986160,0.838340,0.891135,1.182860,1.106555,1.094187,...,1.342757,1.423823,1.020401,1.288016,0.567978,0.768790,1.082657,1.500336,1.234145,1.072434
11,0.563820,1.605363,0.673106,1.158242,1.372544,0.840679,1.005910,0.617596,1.124484,1.494072,...,0.661126,0.729396,0.567942,1.469619,1.683865,0.635549,0.733920,1.438669,0.787460,2.290955

In [42]:
gm_cluster_std.mean(axis=1)

Cluster
3     1.362047
8     1.088241
9     1.069416
11    1.235075
dtype: float64

In [43]:
gm_cluster_std.median(axis=1)

Cluster
3     1.261360
8     0.991985
9     0.990193
11    1.111616
dtype: float64

In [44]:
gm_cluster_std.std(axis=1)

Cluster
3     0.554514
8     0.489342
9     0.425784
11    0.580806
dtype: float64

---

In [45]:
agg_cluster = pd.read_csv(
    r"../../data/cluster_results/agg_cluster_result.csv", index_col=0)
agg_cluster.head()

,Tick,Cluster,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
0,CSCO,5,-0.897344,-0.951685,-0.331614,0.589535,-0.108935,0.433686,0.178569,-0.389928,...,0.272525,0.813892,0.716849,-0.624558,-0.792077,0.054434,0.449964,0.089078,0.017788,-0.621446
1,ISRG,5,-1.000226,-1.608707,-0.689722,-0.217649,0.832386,-1.902180,0.512597,-1.943607,...,0.596374,-0.535328,0.532541,-0.756822,0.520968,0.999440,0.573973,0.083171,1.823959,2.057369
3,VRTX,3,2.583978,-1.014147,-3.256118,1.548564,1.614755,-1.244445,-3.820831,0.166110,...,-0.931505,1.840056,-0.268832,0.835401,-1.740108,0.801003,-0.513456,-1.871033,0.447043,1.648986
4,GILD,5,-0.241745,1.627471,-0.832741,0.171187,1.488095,-1.265454,-1.584984,-4.555719,...,-2.370368,1.363639,-0.074732,-0.149051,0.178777,0.639501,-0.353094,-1.751034,0.959519,-1.547806
5,SWKS,2,-0.380433,-1.326951,-3.282542,-0.685599,3.055551,-0.883056,-2.467973,-1.567573,...,1.223873,1.559610,0.540212,1.193940,-1.090216,-0.421999,-1.669455,1.109210,1.773724,-0.310163

In [47]:
agg_cluster_count = agg_cluster["Cluster"].value_counts()
agg_cluster_count

5    31
1    17
2    14
0     9
3     7
Name: Cluster, dtype: int64

In [49]:
agg_cluster_std = agg_cluster.groupby("Cluster").std()
agg_cluster_std

,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,...,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29
Cluster,,,,,,,,,,,,,,,,,,,,,
0,0.608360,1.662746,0.764494,1.606063,1.201379,1.333791,1.099413,0.976594,0.715209,1.277323,...,1.472801,2.078721,1.642717,1.642970,0.558576,0.871273,0.690885,1.752548,2.129235,1.567381
1,0.810800,1.075582,0.855325,0.998990,1.032730,0.755497,1.113179,0.938212,1.242226,1.262659,...,0.635343,0.575013,0.634965,0.977832,1.127717,0.864879,1.208756,2.413185,1.043168,0.814145
2,0.397882,0.636734,0.850396,0.939738,1.010624,0.874551,0.841127,0.634348,1.163913,1.200348,...,0.832383,0.714359,0.677931,0.763896,0.707345,0.853427,1.904921,1.402125,1.498098,1.495079
3,1.159573,1.623196,1.338985,1.221795,1.495540,1.258661,1.980314,2.270824,1.367543,1.271565,...,1.250464,0.879578,0.969040,1.041400,0.905505,1.054381,1.246301,0.968715,2.656449,1.701044
5,0.687847,1.052349,1.173044,1.208225,0.972146,0.807753,0.875576,1.196923,1.207783,1.053790,...,1.389931,0.682668,0.957436,1.094541,1.151471,0.688304,1.179407,1.539649,1.194308,1.496598

In [50]:
agg_cluster_std.mean(axis=1)

Cluster
0    1.263984
1    1.021661
2    1.023352
3    1.375120
5    1.025735
dtype: float64

In [52]:
agg_cluster_std.median(axis=1)

Cluster
0    1.128226
1    0.929839
2    0.923779
3    1.209116
5    0.949459
dtype: float64

In [53]:
agg_cluster_std.std(axis=1)

Cluster
0    0.661341
1    0.436915
2    0.489348
3    0.785771
5    0.402633
dtype: float64